<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vidavo</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="vidavo/pojos/Contacts.hbm.xml"/>
    <mapping resource="vidavo/pojos/ChronicDiseases.hbm.xml"/>
    <mapping resource="vidavo/pojos/Immunizations.hbm.xml"/>
    <mapping resource="vidavo/pojos/Appointments.hbm.xml"/>
    <mapping resource="vidavo/pojos/FamilyHistory.hbm.xml"/>
    <mapping resource="vidavo/pojos/SurgicalHistory.hbm.xml"/>
    <mapping resource="vidavo/pojos/ChronicMedication.hbm.xml"/>
    <mapping resource="vidavo/pojos/PersonalInfo.hbm.xml"/>
    <mapping resource="vidavo/pojos/Patients.hbm.xml"/>
    <mapping resource="vidavo/pojos/Habits.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
